body {
  background: url(imgs/bg.jpg);
  background-position: center;
  background-size: cover;
  font-family: "Cabin Sketch", cursive;
}

h1 .display-1 {
  font-size: 3rem;
}

html {
  height: 100%;
}

group-lg > .btn,
.btn-lg {
  font-size: 2rem;
}

.cell {
  border: 3px solid black;
  height: 150px;
  width: 150px;
  font-size: 6rem;
  transition: all 0.2s ease-out 0s;
}

table tr:first-child td {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child {
  border-left: 0;
}

table tr td:last-child {
  border-right: 0;
}

td:hover {
  border: 4px solid rgba(0, 0, 0, 0.2);
  background: transparent;
}

.endgame {
  display: none;
  width: 300px;
  height: 300px;
  top: 275px;
  background-color: rgba(87, 87, 87, 0.6);
  position: absolute;
  top: 26%;
  left: 50%;
  margin-left: -150px;
  padding-top: 70px;
  padding-bottom: 100px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50px;
  color: white;
  font-size: 3rem;
}

.scoreboard {
  font-size: 2.5rem;
  font-weight: 600;
  color: ;
}

@media (max-width: 464.98px) {
  .endgame {
    display: none;
    width: 300px;
    height: 300px;
    top: 275px;
    background-color: rgba(87, 87, 87, 0.6);
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -146px;
    padding-top: 70px;
    padding-bottom: 100px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50px;
    color: white;
    font-size: 3rem;
  }
}
